{% extends "layouts/main-layout.html" %}
{% load static %}

{% block meta_tag %}
<meta property="og:title" content="หน้าโปรไฟล์ของ {{ profile_user.username }}">
<meta propperty="og:desctription" content="Check out {{ profile_user.username }}'s latest post!">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ profile_user.avatar }}">
<meta property="og:type" content="profile">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="หน้าโปรไฟล์ของ {{ profile_user.username }}">
<meta name="twitter:desctription" content="Check out {{ profile_user.username }}'s latest post!">
<meta name="image" content="{{ request.scheme }}://{{ request.get_host }}{{ profile_user.avatar.url }}">
{% endblock %}

{% block title %}{{ profile_user.username }} - {% endblock %}

{% block content %}
{% include "a_users/partials/_profile.html" %}
{% endblock %}
